$primary-color: #1f222c;
$secondary-color: #FFFFFF;

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
background-image: url(../../assets/bk_pineapple.jpg);

  @media (max-width: 425px) {

    min-height: 100vh;
    min-width: 40vh;
    }
    
  



&__logo{
  background-color: rgba(255, 255, 255, 0.5);

  @media (max-width: 425px) {
    width: 100%;
  }
}


  .header {
    text-align: center;

    .title {
      font-size: 3.5rem;
      color: $primary-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    }

    .subtitle {
      font-size: 1.8rem;
      color: darken($primary-color, 30%);
      font-weight: 500;
    }
  }

  .content {
    text-align: center;
    margin-top: 3rem;
    // background-color: $primary-color;
    background: rgba(black, 0.5);

    
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

    @media (max-width: 425px) {
      border-radius: 0;
    }

    .description {
      font-size: 1.3rem;
      color: $secondary-color;
      max-width: 400px;
      margin-bottom: 3rem;
      line-height: 1.5;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cta-button {
        padding: 1rem 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        background: $secondary-color;
        color: #594DC8;
        border: none;
        border-radius: 50px;
        box-shadow: 0px 10px 20px rgba($primary-color, 0.4);
        cursor: pointer;
        transition: transform 0.3s;
        margin-bottom: 2rem;

        &:hover {
          transform: scale(1.05);
        }
      }

      .auth-buttons {
        display: flex;
        gap: 1rem;

        .auth-button {
          padding: 0.8rem 2rem;
          font-size: 1rem;
          // background-color: $secondary-color;
          color: #594DC8;
          border: 2px solid $primary-color;
          border-radius: 50px;
          box-shadow: 0px 10px 20px rgba($primary-color, 0.2);
          cursor: pointer;
          transition: transform 0.3s;



          &:hover {
            transform: scale(1.05);
            background-color: #594DC8 ;
            color: $secondary-color;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 4rem;
    font-size: 1rem;
    color: darken($secondary-color, 40%);
    font-weight: 500;
  }







}


